<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${menu}">
    <ul th:each="cheeseitem : ${menu.cheeses}">
        <li th:text="${cheeseitem.name}"></li>
    </ul>
    <br></br>
    <p><a th:href="'/menu/add-item/' + ${menu.id}">Add Christy Cheese</a></p>
</form>
</body>
</html>